@{
    var loginUser = Session["user"] as LoginUser;

    if (loginUser != null)
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Areas/Admin/Content/images/users/@loginUser.UserImage" class="img-circle elevation-2" alt="@loginUser.UserName">
            </div>
            <div class="info">
                <a href="#" class="d-block">@loginUser.UserName</a>
                <br />
                <a href="@Url.Action("LogOut","Account")" class="btn btn-danger">Güvenli Çıkış</a>
            </div>
        </div>
    }
    else
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="@Url.Action("Login","Account")" class="d-block btn btn-primary">Oturum Aç</a>
                    </div>
                </div>
            </div>
        </div>
    }


}


